.mainbody {
	background-color: #fff;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
}
.containerdiv {
	padding: 20px 0px;
	border-bottom: 1.5px solid #e6e6e6;
}
.lanediv {
	padding-left: 5px;
}
.containerdiv > h1 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: #333333;
}
.personalcon {
	border-bottom: 1.5px solid #e6e6e6;
	display: flex;
	width: 100%;
	padding: 10px 0px;
}
.personaldiv {
	width: 35%;
}
.togglediv > p {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    white-space: pre;
    justify-content: center;
	text-transform: capitalize;

}
.personaldiv > h2 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}
.detailsdiv {
	width: 65%;
}
.editbtn {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #f4da47;
	border: none;
	background: transparent;
	outline: none;
	padding: 0 !important;
}
.editbtn:disabled {
	cursor: not-allowed;
}
.fromdiv {
	display: flex;
	gap: 15px;
	padding-bottom: 15px;
}
.formgroup {
	width: 49%;
}
.formlabel {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}
.btndiv {
	width: 100%;
	display: flex;
	justify-content: start;
}
.savebtn {
	background: #f3cf00 !important;
	border-radius: 6px;
	padding: 10px !important;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	border: none !important;
	width: 49%;
	margin-top: 10px;
}
.savebtn:hover {
	color: #000;
}
.disable:disabled {
	border: none;
	background: transparent !important;
	padding: 10px 0 !important;
}
.toggleGroupClassdiv{
	width: 100%;
	display: flex;
	justify-content: end;
}
.toggleGroupClass {
	display: flex;
	gap: 10px;
	width: 65%;
}
.subToggle {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 0px 5px 5px 0px;
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #858585;
}
.buttonsdiv {
	display: flex;
	align-items: center;
	margin: 15px 10px 0px 0px;
}
.customButton{
	display: flex;
	gap: 10px;
}

.count {
	background: #858585;
	border-radius: 5px 0px 0px 5px;
	font-family: "Rubik";
	font-weight: 600;
	font-size: 16px;
	color: #ffffff;
	padding: 9px;
	min-width: 35px;
	text-align: center;
	margin-bottom: 0;
}
.subToggle {
	margin: 10px 0px;
	cursor: pointer;
}
.togglediv {
	padding: 0px 20px;
}

.togglediv > h1 {
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase !important;
    justify-content: center;
}


.MuiToggleButton-root {
	padding: 10px !important;
	border-radius: 5px;
	text-transform: none !important;
	max-width: 50px !important;
}

.addresscard {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.AddressCard {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	cursor: pointer;
	word-break: break-all;
}
.subUserName {
	display: flex;
	justify-content: space-between;
}
.subUserName > h1 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	text-align: left;
	text-transform: capitalize;
}
.AddressCardtxt > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #272727;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	gap: 10px;
}
.flexdiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0px;
}
.name > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-bottom: 0;
	text-align: left;
}
.name > h4 {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 14px;
	color: #272727;
	margin-bottom: 0;
	text-transform: capitalize;
}
.country > p {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 14px;
	color: #828282;
	margin-bottom: 0;
}
.emails {
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	max-width: 220px !important;
}
.activenumber {
	background-color: #f4da47 !important;
}
.activbtn {
	background-color: #272727 !important;
	color: #f4da47 !important;
}
.personaldetailsdiv {
	padding-left: 5px;
}
.card {
	display:flex;
	gap: 10px;
	width: 65%;
	flex-wrap: wrap;
}
.AddressCarddiv{
	width: 350px;
	height: 100px;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	cursor: pointer;
	word-break: break-all;
}
.style{
	text-transform: none !important;
}
@media (max-width: 700px) {
	.toggleGroupClass {
		padding: 0 !important;
		flex-direction: column;
		gap: 0;
	}
	.personalcon {
		flex-direction: column;
	}
	.personaldiv,
	.detailsdiv {
		width: 100%;
	}
	.personaldiv {
		padding-bottom: 10px;
	}
	.containerdiv {
		padding-right: 0 !important;
		padding-left: 20px !important;
		padding-bottom: 10px !important;
	}
	.fromdiv {
		flex-direction: column;
	}
	.formgroup,
	.savebtn {
		width: 100%;
	}
	.disable:disabled {
		border: 1px solid #585858;
		padding: 10px !important;
	}
	.card{
		width: 100%;
	}
	.AddressCarddiv{
		width: 100%;
	}
}
