.countrydiv {
	background: rgba(30, 106, 255, 0.1);
	width: 100%;
	position: relative;
	padding: 30px;
}

.upperDivs {
	display: flex;
	justify-content: space-between;
}

.headingdiv {
	display: flex;
	justify-content: space-between;
}

.titlediv {
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.buttonDiv {
	display: flex;
	gap: 20px;
	width: 100%;
	justify-content: right;
}

.button {
	background: #f4da47;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #272727;
	padding: 5px 20px !important;
}

.title {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
	margin-bottom: 0px;
}

/* -------Add Country ----------- */
.add_div {
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.add_div-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add_div-heading > h3 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #333333;
}

.add_div-heading > button {
	background: transparent;
	color: #d9d9d9;
	border: none;
	padding: 0px !important;
	font-size: 24px;
	line-height: 28px;
}

.formlabel {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #000000;
}

.formcontrol {
	width: 100%;
	padding: 15px !important;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
}

.formcontrol:focus {
	border: 1px solid #ced4da !important;
	box-shadow: none !important;
}

.MuiToggleButton-root {
	width: 100% !important;
}
.MuiToggleButton-root {
	width: 50% !important;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #272727;
}

.MuiDataGrid-row.Mui-selected {
	background: #fff !important;
	color: #000 !important;
}

.savebtn {
	background: #f3cf00;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #272727;
	box-shadow: 0px 4px 16px rgba(243, 207, 0, 0.2);
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	font-weight: bold;
}

.icon {
	padding: 0 !important;
}

.searchdiv {
	width: 100%;
	display: flex;
	padding-top: 20px;
}

.searchUserbox {
	width: 100%;
	border: 1px solid #d9d9d9 !important;
	background: #fff;
	border-radius: 5px 0px 0px 5px;
	padding: 15px !important;
	word-break: break-all;
}

.selectbox {
	width: 60%;
	border: 1px solid #d9d9d9 !important;
	background: #fff;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.selectbox > div {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.selectbox > h4 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	width: 15%;
	margin-bottom: 0 !important;
}

.searchbox > input {
	border: none !important;
	width: 85%;
	outline: none;
	background-color: transparent !important;
}

.selectcontrol {
	padding: 0 !important;
	border: none !important;
	background: transparent !important;
	outline: none;
}

.selectcontrol:focus {
	box-shadow: none;
}

.MuiDataGrid-root {
	background: #fff !important;
	border-radius: 5px !important;
}

.MuiToggleButtonGroup-root {
	width: 100% !important;
}

.MuiDataGrid-columnHeaderTitleContainer:focus {
	outline: none !important;
	border-color: #fff !important;
}

.MuiIconButton-sizeSmall,
.MuiDataGrid-iconSeparator {
	display: none !important;
}

.MuiDataGrid-columnHeaderTitle {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #858585 !important;
	letter-spacing: 0.13em;
}

.MuiDataGrid-cellContent {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000 !important;
}
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus {
	outline: none !important;
}

/* ----------- select-------- */
.MuiInput-underline::before,
.MuiInput-underline::after {
	border: none !important;
	box-shadow: none !important;
}

.togglebtn > .Mui-selected {
	background: #000 !important;
	color: #fff !important;
}
.filterDiv {
	margin: 10px;
	padding: 5px;
}
#filterSelect {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid black;
}
.upperDiv {
	display: flex;
}
.upperDiv {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.lowerDiv {
	display: flex;
	padding-top: 10px;
	gap: 20px;
}
.commonDiv {
	display: flex;
	flex-direction: column;
}
.commonDiv > p {
	margin-bottom: 0;
}
.companyName {
	display: flex;
	align-items: center;
}
.companyName > * {
	margin: 2px;
	padding: 2px;
}
.companyName > h4 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 10px;
}
.commonDivhead {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #858585;
}
.commonDivval {
	display: flex;
	flex-direction: column;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #272727;
}
.commonDivvalyellow {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f4da47;
}

.commonDivvalyellow:hover {
	cursor: pointer;
}

.groupname {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #f4da47;
}
.gstin {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #858585;
}
.gstinval {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #858585;
}
.approvebutton {
	background: #2bc569;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	padding: 5px 20px !important;
}
.rejectbutton {
	background: #f86401;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	padding: 5px 20px !important;
}
.viewBtn {
	background: #0467a4;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	padding: 5px 20px !important;
}
.revalidatebutton {
	background: #f4da47;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	padding: 5px 20px !important;
}
.modal-dialog-centered {
	width: 80% !important;
}
.commonDivvalyellow {
	background: transparent !important;
	border: none;
	outline: none;
	padding: 0px !important;
	text-decoration: none;
}
.popupwidth {
	width: 600px !important;
	background-color: #fff;
	border-radius: 5px;
}
@media (max-width: 1200px) {
	.selectbox > h4 {
		width: 30%;
	}
}
@media (max-width: 1050px) {
	.commonDiv {
		margin-left: 0px !important;
	}
}
@media (max-width: 960px) {
	.commonDiv {
		width: 120px;
	}
	.commonDiv > p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 60px;
	}
	.commonDivvalyellow,
	.viewBtn {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 80px;
	}
}
@media (max-width: 650px) {
	.lowerDiv {
		flex-direction: column;
	}
	.commonDiv > p {
		text-overflow: unset;
        max-width: none !important;
	}
	.commonDivvalyellow,
	.viewBtn {
		text-overflow: unset;
		max-width: none !important;
	}
    .commonDiv{
        width: 100% !important;
    }
}
@media (max-width: 400px) {
	.searchdiv,
	.headingdiv {
		flex-direction: column;
		gap: 5px;
		padding-top: 10px !important;
	}
	.searchbox {
		width: 100%;
		border-radius: 5px;
	}
	.selectbox {
		width: 100%;
		border-radius: 5px;
		padding: 6px 10px !important;
	}
	.buttondiv {
		width: 100%;
		justify-content: flex-start;
		flex-direction: column;
		gap: 10px !important;
	}
	.button {
		width: 100%;
		padding: 5px !important;
	}
	.title {
		font-size: 22px;
	}
	.titlediv {
		width: 100%;
	}
	.selectbox {
		flex-direction: column;
		width: 100%;
	}
	.selectbox > div {
		width: 100%;
		justify-content: flex-start;
	}
	.selectbox > h4 {
		width: 100%;
	}
	.selectuser {
		padding: 10px 0px !important;
	}

	.popupwidth {
		width: 355px !important;
	}
}
