.sidebardiv {
	background: rgb(255, 255, 255);
	width: 100%;
	min-height: 100%;
}

.logodiv {
	padding: 15px 0px 7px 40px;
	text-align: left !important;
	display: flex;
	justify-content: space-between;
}
.listdiv {
	/* margin: 0px 25px; */
	/* border-bottom: 2px solid rgba(217, 217, 217, 0.31); */
}

.slist {
	padding-left: 0px !important;
	padding: 4px 0px;
	margin: 5px;
}
.slist > li {
	list-style: none;
	padding-top: 15px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	padding: 8px 30px;
}
.listitem {
	list-style: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	text-decoration: none;
	min-width: 35px;
}
.listitem:hover {
	color: #000000;
}
.accountdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logodiv {
	align-items: center;
}
.dropdownlist {
	padding: 0px !important;
	transition-delay: 10s !important;
}
.dropdownlist > li {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 40px !important;
	transition-delay: 1s;
}
.dropdowndiv {
	overflow: hidden;
}
.signout {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.activesidebar {
	font-weight: bold;
	min-width: 35px;
}
.activesidebarstep {
	background: linear-gradient(
		89.98deg,
		rgba(244, 218, 71, 0.17) 0.01%,
		rgba(244, 218, 71, 0) 106.64%
	);
}
.activeicon path {
	fill: #f4da47;
}
.activeicon{
	min-width: 35px;
}
.inActvieIcon{
	min-width: 35px;
}
.holidaysicon {
	color: #858585;
}
.allmasterimg {
	width: 55px;
}
.allmastertxt {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 37.7143px;
	letter-spacing: -0.05em;
	color: #272727;
	margin-bottom: 0;
}
.allmasterlogodiv{
	display: flex;
	align-items: center;
	gap: 5px;
}