.countrydiv {
	background: rgba(217, 217, 217, 0.1);
	width: 100%;
	min-height: 100vh;
	position: relative;
	padding: 30px;
}

.headingdiv {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.titlediv {
	width: 50%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 15px;
}

.buttondiv {
	display: flex;
	gap: 20px;
	width: 50%;
	justify-content: right;
}

.button {
	background: #f4da47;
	border-radius: 4px;
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	color: #272727;
	padding: 2px 20px !important;
}

.title {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
	margin-bottom: 0px;
}

.icon {
	padding: 0 !important;
}

.searchdiv {
	width: 100%;
	display: flex;
	padding-top: 20px;
}

.searchbox {
	width: 100%;
	border: 1px solid #d9d9d9 !important;
	background: #fff;
	border-radius: 5px;
	padding-left: 15px !important;
	display: flex;
	align-items: center;
}

.searchbox>div {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.searchbox>input {
	border: none !important;
	width: 95%;
	outline: none;
	background-color: transparent !important;
}

.bookingdetailsdiv {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.selectbox {
	width: 60%;
	border: 1px solid #d9d9d9 !important;
	background: #fff;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.selectbox>div {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.selectbox>h4 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	width: 15%;
	margin-bottom: 0 !important;
}

.searchbox>input {
	border: none !important;
	width: 85%;
	outline: none;
	background-color: transparent !important;
}

.carddiv {
	padding-top: 10px;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.tapdiv {
	width: 100%;
	gap: 30px;
	display: flex;
	padding-top: 10px;
}

.flextapdiv {
	display: flex;
	align-items: center;
}

.flextapdivtxt {
	background-color: #858585;
	border-radius: 5px 0px 0px 5px;
	padding: 7px 10px;
	font-family: "Rubik";
	width: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.flextapdivtxt>p {
	margin-bottom: 0;
}

.flextapdivbutton {
	background: #ffffff;
	border: 1px solid #d9d9d9;
	border-radius: 0px 5px 5px 0px;
	font-family: "Rubik";
	font-style: normal;
	min-width: 100px;
	padding: 6.5px 10px !important;
	color: #858585;
}

.shipment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
}

.shipment>h1 {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #333333;
	margin-bottom: 0;
}

.rightdrawerdiv {
	padding: 15px;
}

.closebtn {
	border: none;
	outline: none;
	background: transparent;
	padding: 0 !important;
	font-size: 25px;
}

.continebtn {
	background: #f3cf00;
	box-shadow: 0px 4px 16px rgba(243, 207, 0, 0.2);
	border-radius: 6px;
	font-family: "Rubik";
	font-weight: 600;
	font-size: 16px;
	color: #272727;
	border: none;
	width: 100%;
	margin: 10px 0px;
}

.PreBookingStepper {
	background: rgba(244, 244, 244, 0.69);
	border-radius: 12px;
	padding: 10px;
}

.activenumber {
	background-color: #F4DA47 !important;
}

.activbtn {
	background-color: #272727 !important;
	color: #F4DA47 !important;
}

.containerdiv {
	padding-bottom: 20px;
}

@media (max-width: 800px) {
	.tapdiv {
		flex-direction: column;
	}

	.titlediv {
		width: 100%;
	}
}