.progress {
    height: 45px !important;
    width: 134px !important;
    border-radius: 0 !important;
    background-image: url('./Isolation.png') !important;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .progress-bar {
    color: white !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    margin: 3px !important;
  }
  .green>.progress-bar{
    background: rgb(12 181 14 / 57%) !important;
  }
  .yellow>.progress-bar{
    background: rgb(255 255 49 / 52%)!important;
  }
  .orange>.progress-bar{
    background: rgba(255, 166, 0, 0.662) !important;
  }
  .red>.progress-bar{
    background: rgba(255, 0, 0, 0.566) !important;
  }