.backbtn {
	border: none;
	display: flex;
	align-items: center;
	background: transparent;
	outline: none;
	gap: 10px;
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #272727;
}
.mainbox {
	display: flex;
	border-bottom: 1px solid #d9d9d9;
	padding: 15px 0px;
}
.uploadfilesdiv {
	display: flex;
	padding: 15px 0px;
}
.addressdiv {
	display: flex;
	padding: 15px 0px;
	padding-bottom: 40px;
}
.titlediv {
	width: 30%;
}
.title {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 32px;
	color: #333333;
	margin-bottom: 0;
}
.contentdiv {
	width: 70%;
}
.titlediv > h1 {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}
.addresscard {
	display: flex;
	gap: 10px;
}
.titlediv > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 16px;
	color: #494949;
}
.formdiv {
	width: 100%;
	display: flex;
	gap: 10px;
}
.formgroup {
	width: 50%;
	padding-top: 5px;
}
.formcontrol:focus {
	box-shadow: none !important;
}
.fill {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 16px;
	color: #858585;
}
.doordiv {
	width: 30%;
}
.building {
	width: 70%;
}
.country,
.state,
.city {
	width: 33%;
}
.fileuploaddiv {
	background: rgba(243, 207, 0, 0.05);
	border-radius: 7px;
	width: 100%;
	border: 1.5px solid #f4da47;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}
.uploadflex {
	display: flex;
	gap: 10px;
}
.uploadtxt > h4 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	margin-bottom: 0;
}
.uploadtxt > span {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	margin-bottom: 0;
}
.uploadtxt > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 12px;
	color: #272727;
	margin-bottom: 0;
}
.uploadfiles {
	border: 1px solid #f4da47;
	border-radius: 4px;
	font-family: "Rubik";
	font-weight: bold !important;
	font-size: 14px;
	color: #f4da47 !important;
	background: transparent;
	padding: 8px 20px !important;
	height: 35px !important;
}
.hbl {
	width: 100%;
	padding-top: 10px;
}
.spanlabel {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #858585;
}
.checkboxdiv {
	display: flex;
	gap: 10px;
	align-items: center;
}
.checkboxdiv > p {
	margin-bottom: 0;
}
.checkbox {
	height: 20px;
	width: 20px;
}
.hidden {
	display: none;
}
.uploadeddiv {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.removebtn {
	padding: 0 !important;
	border: none;
	background: transparent;
	font-family: "Rubik";
	font-weight: 500;
	font-size: 12px;
	color: #dd3737;
}
.uploadeddivflex {
	display: flex;
	gap: 5px;
	align-items: center;
}
.uploadeddivflex > a {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 13px;
	color: #272727;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}
.flexRow{
	display: flex;
	align-items: center;
	column-gap: 5px;
}
@media (max-width: 600px) {
	.titlediv {
		width: 100%;
	}
	.contentdiv{
		width: 100%;
	}
	.mainbox,
	.dimensions,
	.addressdiv,
	.uploadfilesdiv
	 {
		display: block;
	}
	.formdiv,
	.addanother {
		width: 100%;
	}
	.pbcontiner {
		padding-bottom: 50px;
	}
	.footerdiv{
		width: 100%;
		flex-direction: column;
	}
	.footerflex , .footerbtns{
		width: 100%;
		justify-content: space-between;
	}
	.footerflex , .footerbtns{
		width: 90%;
	}
	.footerbtns{
		padding-top: 10px;
	}
	.footerflexdiv{
		border: none;
	}
	.togglediv{
		width: 100%;
	}
	.dimen,.dimenlabel{
		padding: 0px 5px !important;
	}
	.ratecard{
		width: 350px !important;
	}
	.dimensions{
		padding-bottom: 30px;
	}
	.formgroup , .doordiv , .building , .country , .state , .city{
		width: 100%;
	}
	.formdiv{
		display: block;
	}
	.titlediv>input{
		width: 100%;
		margin-bottom: 10px;
	}
	.fileuploaddiv{
		flex-direction: column;
		align-items:start !important;
	}
}