.pbcontiner {
	width: 87%;
	margin: auto;
}
.backbtn {
	border: none;
	display: flex;
	align-items: center;
	background: transparent;
	outline: none;
	gap: 10px;
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #272727;
}
.mainbox {
	display: flex;
	border-bottom: 1px solid #d9d9d9;
	padding: 60px 0px 15px 0px; 
}
.main {
	width: 87%;
	margin: auto;
}
.titlediv {
	width: 30%;
}
.title {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 31px;
	color: #333333;
	margin-bottom: 0;
}
.contentdiv {
	width: 70%;
}
.titlediv > h1 {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}
/* -------------------------- */
.detailcon {
	border-radius: 5px;
	width: 400px;
	border: 1px solid #d9d9d9;
}

.detaildiv {
	background: #ffffff;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	padding: 7px 0px 15px 0px;
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05);
}

.portsdetail {
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}

.cbmsdetail {
	font-weight: 400;
	font-size: 13px;
	color: #828282;
}

.cbmsdetail > span {
	font-weight: bold;
	font-size: 14px;
	color: #272727;
}

.containerdetail {
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
}

.containertxt {
	font-weight: 400;
	font-size: 11px;
	color: #828282;
	padding-top: 5px;
}

.start {
	font-weight: 400;
	font-size: 16px;
	text-align: right;
	color: #828282;
}

.startval {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	color: #272727;
	margin-bottom: 2px;
}

.vessel {
	background: rgba(225, 225, 224, 0.15);
	width: 100%;
	padding: 10px 15px;
	display: flex;
	gap: 30px;
}
.ship {
	border-right: 1.5px solid #d9d9d9;
	padding: 0px 30px 0px 10px;
}
.ship > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-bottom: 0;
}
.ship > h4 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 12px;
	color: #272727;
}
.cutoff > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-bottom: 0;
}
.cutoff > h4 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 12px;
	color: #272727;
}
.cutoffdiv {
	display: flex;
	gap: 50px;
}
.chargeinclude {
	padding: 0px 15px;
	margin-top: 5px;
}

.chargeincludetxt {
	font-weight: 400;
	background: rgba(217, 217, 217, 0.31);
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
	color: #828282;
	margin: 0;
	text-align: center;
}

.infoicon {
	padding-top: 0px;
	font-size: 22px;
	padding-right: 5px;
}

.portalignments {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	align-items: flex-start;
}

.etdeta > p {
	margin-bottom: 0;
	color: #828282;
	padding-right: 10px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
}

.trendingdiv > p {
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	font-size: 13px;
	padding-left: 5px;
}

.fillingdiv > p {
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	font-size: 13px;
	padding-left: 5px;
}
.scheduleid {
	margin-bottom: 0px;
	padding-bottom: 5px;
	color: #828282;
	padding-right: 10px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
}
.viewbtndiv {
	display: flex;
	justify-content: right;
}
.view {
	padding: 3px 10px !important;
	background-color: #f4da47;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
}
.scheduleidicon {
	padding-right: 11px;
	font-size: 24px;
	color: #828282;
	cursor: pointer;
}

.current {
	display: flex;
	align-items: center;
}
.pricechart {
	display: flex;
	gap: 25px;
}
.ratetxt {
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	color: #828282;
	margin-bottom: 0;
}
.ratetxt > span {
	color: #f4da47;
	font-weight: bold;
}
/* --------------------- */
.fills {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 16px;
	color: #858585;
}
.toggle1 {
	background: rgb(0, 0, 0) !important;
	color: #fff !important;
}
.togglediv {
	padding: 0px 20px;
}
.toggle2,
.toggle2 > h1,
.toggle1 > h1 {
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 5px;
	text-transform: capitalize;
	font-weight: bold;
}
.formdiv {
	width: 88%;
}
.package {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #333333;
	padding-top: 20px;
}
.labelsdiv {
	display: flex;
}
.dimenlabels {
	display: flex;
}
.dimen {
	background: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	border-radius: 5px 0px 0px 5px !important;
}
.dimen > h1 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 14px;
	color: #272727;
	margin-bottom: 0;
}
.dimenlabel {
	background: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	border-radius: 0px;
}
.dimenlabel > h1 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 14px;
	color: #272727;
	margin-bottom: 0;
}
.dimeninput:focus {
	box-shadow: none !important;
}
.dimeninput {
	border-radius: 0px !important;
}
.togles {
	border: 1px solid #d9d9d9 !important;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.packagesdiv {
	display: flex;
	gap: 15px;
	width: 100%;
}
.packagesdiv > .formgroup {
	width: 50%;
}
.formgroup {
	padding-top: 5px;
}
.addanother {
	width: 88%;
	background: rgba(243, 207, 0, 0.05);
	border: 1px solid #f4da47;
	border-radius: 5px;
	margin-top: 20px;
	font-family: "Rubik";
	font-weight: bold;
	font-size: 16px;
	color: #f4da47;
}
.footer {
	background: #ffffff;
	box-shadow: 0px -4px 11px rgba(0, 0, 0, 0.09);
	width: 100%;
	margin-top: 40px;
}

.footerdiv {
	width: 86%;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 10px;
}
.footerflex {
	width: 50%;
	display: flex;
	align-items: center;
}
.footerbtns {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
}
.footercontainerdiv {
	display: flex;
	align-items: center;
}
.footerflexdiv > h1 {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}
.footerflexdiv > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #828282;
	margin-bottom: 0;
}
.footerflexdiv {
	border-right: 1.5px solid #d9d9d9;
	padding-right: 20px;
}
.totalcbm > p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #828282;
	margin-bottom: 0;
}
.totalcbm > p > span {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	padding-left: 5px;
}
.containerbox {
	padding: 0px 20px;
}
.prebookingbtn {
	border: 1px solid #f4da47;
	border-radius: 6px;
	font-family: "Rubik";
	font-weight: bold;
	font-size: 16px;
	color: #f4da47;
	background: transparent;
	padding: 8px 25px !important;
}
.continuebtn {
	background: #f3cf00;
	box-shadow: 0px 4px 16px rgba(243, 207, 0, 0.2);
	border-radius: 6px;
	font-family: "Rubik";
	font-weight: bold;
	font-size: 16px;
	color: #272727;
	border: 1px solid #f4da47;
	padding: 8px 15px !important;
}
.dimensions {
	display: flex;
	padding: 15px 0px;
}
/* ----------------------popup----------- */
.titletext {
	word-wrap: break-word !important;
	font-weight: bold !important;
	font-family: "Rubik" !important;
	font-size: 30px !important;
	color: #272727 !important;
	display: flex !important;
	justify-content: center !important;
	padding: 0 !important;
	margin-bottom: 0 !important;
}
.contenttxt {
	word-wrap: break-word;
	text-align: center !important;
}
.yesbtn,
.yesbtn:hover {
	background: #f4da47 !important;
	color: #272727 !important;
	padding: 7px 0px !important;
	font-family: "Rubik" !important;
	font-size: 15px !important;
	border: 1.5px solid #f4da47 !important;
	width: 49%;
	text-transform: capitalize !important;
	font-weight: bold !important;
}
.nobtn,
.nobtn:hover {
	background: #fff !important;
	color: #f4da47 !important;
	padding: 7px 0px !important;
	font-family: "Rubik" !important;
	font-size: 15px !important;
	border: 1.5px solid #f4da47 !important;
	width: 48%;
	text-transform: capitalize !important;
	font-weight: bold !important;
}
.closebtns {
	padding: 0 !important;
	color: #919191 !important;
	font-size: 24px !important;
	display: contents !important;
}
.cation {
	display: flex;
	justify-content: center;
}
.closenbtn {
	display: flex;
	justify-content: end;
}

.titletext > p {
	margin-bottom: 0;
}
.dialog {
	padding: 0px !important;
}
.continuebtn:disabled {
	background: #ffea73 !important;
	cursor: not-allowed;
}
.prebookingbtn:disabled {
	background: #f0f0f0 !important;
	cursor: not-allowed;
}
.contentdiv {
	position: relative;
}
.contentdivstepper {
	position: absolute !important;
	top: -25px !important;
	width: 100%;
}
.tost {
	background: #ffffff;
	width: 420px;
	border: 1px solid #ea922b;
	box-shadow: 0px 15px 51px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding:10px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.icontxt {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	display: flex;
	align-items: center;
	gap: 7px;
	margin-bottom: 0;
}
.wedont {
	font-family: "Rubik";
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	padding-left: 28px;
	margin-bottom: 0;
}
.tostdiv{
	display: flex;
	justify-content: right;
	padding-top: 50px;
}
@media (max-width: 600px) {
	.titlediv {
		width: 100%;
	}
	.contentdiv {
		width: 100%;
	}
	.mainbox , .dimensions{
		display: block;
	}
	.mainbox{
		padding-top: 40px;
		border: none !important;
	}
	.contentdivstepper{
		position: unset !important;
	}
}
