.footerdiv{
    background-color: black;
    padding: 15px;
}
.footertext{
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}