
  
  .main-div{
    background: #F4F4F4;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  body {
    background: #F4F4F4;
    overflow-x: hidden;
  }
  .bookingdetailsdiv{
      padding-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
  }
  