@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

:root {
	font-family: Rubik, sans-serif !important;
	font-size: 16px;
	line-height: 24px;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


input {
	border: 1px solid #d9d9d9;
	border-radius: 4px !important;
	padding: 10px !important;
	color: #000000;
	font-family: "Rubik";
	background: transparent;
}
select {
	border: 1px solid #d9d9d9 !important;
	border-radius: 4px !important;
	padding: 10px !important;
	color: #000000;
	font-family: "Rubik";
}

label {
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 17px !important;
	color: #000000 !important;
}

.flexdiv {
	display: flex;
	flex-direction: column;
	justify-items: center;
	min-height: 100vh;
	gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

input[type="number"] {
	-moz-appearance: textfield !important;
}

input[type="checkbox"] {
	padding: 3px !important;
}
.error,
.errormsg {
	color: red;
	margin: 0;
}

::placeholder {
	text-transform: capitalize !important;
}

@media (max-width: 990px) {
	.header-btn{
		margin-top: 5px;
	}
	.navbar-expand-lg .navbar-nav {
		flex-direction: column !important;
		justify-content: left !important;
		gap: 0px !important;
		align-items: start !important;
	}
}
@media (max-width: 600px) {
	.btn-container{
		flex-direction: column !important;
	}
	.MuiStep-root .MuiStepConnector-root {
		top: 77px !important;
		width: 116px !important;
		left: -94px !important;
	}
	.MuiBox-root {
		overflow-x: scroll;
		overflow-y: hidden !important;
	}
	.navbar-expand-lg .navbar-nav {
		flex-direction: column !important;
		justify-content: left !important;
		gap: 0px !important;
		align-items: start !important;
	}
}
@media (max-width: 500px) {
	.budget-div{
		padding: 0;
	}
	.overview-div{
		margin-top: 5px;
	}
	.MuiDataGrid-cellContent{
		font-size: 10px !important;
	}
	.MuiDataGrid-columnHeaderTitle{
		font-size: 14px !important;
	}
	.button{
		font-size: 10px !important;
		padding: 2px 5px !important;
	}
	.btn-container {
		gap: 2px;
	}
	.delete-btn{
		font-size: 10px !important;
		padding: 2px 5px !important;
	}
	.MuiDrawer-paper {
		width: 400px !important;
	}
	.MuiStep-root .MuiStepConnector-root {
		top: 77px;
		width: 116px;
		text-align: center;
		left: -94px;
	}
}
@media (max-width: 400px) {
	.MuiDrawer-paper {
		width: 350px !important;
	}
	.MuiToggleButtonGroup-root.MuiToggleButtonGroup-root {
		width: 100% !important;
	}
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
div {
	cursor: context-menu;
	font-family: "Rubik";
}
