@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

:root {
	font-family: Rubik, sans-serif !important;
	font-size: 16px;
	line-height: 24px;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	border: 1px solid #d9d9d9;
	border-radius: 4px !important;
	padding: 10px !important;
	color: #000000;
	font-family: "Rubik";
	background: transparent;
}
select {
	border: 1px solid #d9d9d9 !important;
	border-radius: 4px !important;
	padding: 10px !important;
	color: #000000;
	font-family: "Rubik";
}

label {
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 17px !important;
	color: #000000 !important;
}

.flexdiv {
	display: flex;
	flex-direction: column;
	justify-items: center;
	min-height: 100vh;
	gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}

input[type="number"] {
	-moz-appearance: textfield !important;
}
button {
	padding: 10px !important;
}
input[type="checkbox"] {
	padding: 3px !important;
}
.error,
.errormsg {
	color: red;
	margin: 0;
}

.today {
	color: #eb5757 !important;
}
.tomorrow {
	color: orange !important;
}

::placeholder {
	text-transform: capitalize !important;
}

.slider {
	color: #f4da47 !important;
	height: 5px !important;
}
.MuiStepConnector-lineVertical {
	border-color: #000000 !important;
	border-width: 2px !important;
}
.MuiStepLabel-vertical {
	padding: 0px !important;
}
.MuiStepConnector-line {
	min-height: 40px !important;
}
.MuiTreeView-root {
	height: auto !important;
}
.MuiDialogTitle-root {
	padding: 0px !important;
}
.MuiDialog-paper {
	padding: 10px !important;
}

/* lane mui */

.MuiToggleButton-root {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #272727;
}

.MuiDataGrid-row.Mui-selected {
	background: #fff !important;
	color: #000 !important;
}

.MuiDataGrid-root {
	background: #fff !important;
	border-radius: 5px !important;
}

.MuiDataGrid-columnHeaderTitleContainer:focus {
	outline: none !important;
	border-color: #fff !important;
}

.MuiIconButton-sizeSmall,
.MuiDataGrid-iconSeparator {
	display: none !important;
}

.MuiDataGrid-columnHeaderTitle {
	font-weight: bold !important;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #858585 !important;
	letter-spacing: 0.13em;
}

.MuiDataGrid-cellContent {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000 !important;
}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus {
	outline: none !important;
}

/* ----------- select-------- */
.MuiInput-underline::before,
.MuiInput-underline::after {
	border: none !important;
	box-shadow: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer,
.MuiDataGrid-cell--textLeft {
	justify-content: center !important;
}

#portName {
	text-transform: capitalize;
}

.togglebtn > .Mui-selected {
	background: #000 !important;
	color: #fff !important;
	border-radius: 5px !important;
}

.MuiDialog-paper {
	padding: 10px !important;
}
.mySwiper {
	padding: 0px 6px 0px 0px !important;
}
.swiper-slide {
	margin: 5px !important;
}
.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: auto !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.swiper-grid-column > .swiper-wrapper {
	flex-direction: row !important;
}
.navbar-brand:hover,
.navbar-brand:focus {
	color: #fff;
}
.MuiTreeView-root {
	height: auto !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}
.swiper-button-next {
	background: #f4da47 !important;
	position: absolute !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
	border-radius: 0px 6px 6px 0px !important;
	transform: matrix(-1, 0, 0, 1, 0, 0) !important;
	height: 70px !important;
	width: 35px !important;
	right: 0px !important;
	z-index: 1 !important;
	background-image: url("../src/assets/Icons/carouselRight.svg") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.swiper-button-prev {
	background: #f4da47 !important;
	position: absolute !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
	border-radius: 0px 6px 6px 0px !important;
	height: 70px !important;
	left: 5px !important;
	width: 35px !important;
	background-image: url("../src/assets/Icons/carouselRight.svg") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.swiper-button-disabled {
	display: none !important;
}
.swiper-horizontal {
	padding-left: 0 !important;
}
.MuiTreeItem-group {
	margin-left: 0 !important;
}
.MuiOutlinedInput-root.Mui-disabled {
	background: #e9ecef;
	cursor: default;
	border: 1px solid #e9ecef;
}

.MuiAutocomplete-option:hover {
	background-color: rgb(231, 231, 231) !important;
}
.MuiDataGrid-cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50px !important;
	text-align: center;
	padding: 10px !important;
}
.MuiDialogContent-root {
	padding: 0 !important;
}
.masterlogo {
	width: 100px !important;
}
.navbar-toggler {
	color: #fff;
	outline: none !important;
	border: none !important;
}
.navbar-toggler:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}
::-webkit-calendar-picker-indicator {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/* Mui Time-picker */

.MuiTimePickerToolbar-hourMinuteLabel{
	align-items: center !important;
	justify-content: center !important;
}
@media (max-width: 990px) {
	.navbar-expand-lg .navbar-nav {
		flex-direction: column !important;
		justify-content: left !important;
		gap: 0px !important;
		align-items: start !important;
	}
}
@media (max-width: 600px) {
	.MuiStep-root .MuiStepConnector-root {
		top: 77px !important;
		width: 116px !important;
		left: -94px !important;
	}
	.MuiBox-root {
		overflow-x: scroll;
		overflow-y: hidden !important;
	}
	.navbar-expand-lg .navbar-nav {
		flex-direction: column !important;
		justify-content: left !important;
		gap: 0px !important;
		align-items: start !important;
	}
}
@media (max-width: 500px) {
	.MuiDrawer-paper {
		width: 400px !important;
	}
	.MuiStep-root .MuiStepConnector-root {
		top: 77px;
		width: 116px;
		text-align: center;
		left: -94px;
	}
}
@media (max-width: 400px) {
	.MuiDrawer-paper {
		width: 350px !important;
	}
	.MuiToggleButtonGroup-root.MuiToggleButtonGroup-root {
		width: 100% !important;
	}
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
div {
	cursor: context-menu;
	font-family: "Rubik";
}
