.detailcon {
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	min-height: 315px;
	flex: 1 !important;
	word-break: break-all;
	background: rgba(225, 225, 224, 0.15);
}

.comman {
	min-height: auto;
}

.dashboard:hover {
	border: 1px solid #f4da47;
	transform: scale(1.01);
	transition: 0.2s;
}

.detaildiv {
	background: #ffffff;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	padding: 5px 0px 15px 0px;
	box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.05);
}

.portsdetail {
	font-weight: bold;
	font-family: "Rubik";
	font-size: 18px;
	color: #333333;
	text-align: left;
	margin-bottom: 0;
	text-transform: capitalize;
	white-space: pre;

}

.portstate {
	font-size: 12px;
	font-family: "Rubik";
	color: #585858;
	text-align: left;
	margin-bottom: 0;
	display: flex;
	text-transform: capitalize;
	white-space: pre;
}

.cbmsdetail {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #828282;
	text-align: left;
	padding: 10px 0px;
	margin-bottom: 0;
	padding-left: 15px;
}

.cbmsdetails {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #828282;
	text-align: left;
	padding: 10px 0px;
	margin-bottom: 0;
}

.cbmsdetail>span {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #272727;
}

.containerdetail {
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
	gap: 7px;
}

.aditional {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.rates {
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #828282;
	padding-top: 0px;
	text-align: left;
}

.containertxt {
	font-weight: 400;
	font-size: 13px;
	line-height: 12px;
	color: #828282;
	padding-top: 11px;
	text-align: left;
}

.start {
	font-weight: 400;
	font-size: 15px;
	line-height: 14px;
	text-align: center;
	color: #828282;
}

.startval {
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
	text-align: right;
	color: #272727;
	justify-content: center;
	display: flex;
}

.vesseldiv {
	width: 100%;
	padding: 10px 15px;
}

.vesseltxt {
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	color: #828282;
	text-transform: capitalize;
}

.vesselval {
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #272727;
}

.chargeinclude {
	padding: 0px 15px;
	margin-top: 5px;
	background: transparent !important;
}

.chargeincludetxt {
	font-weight: 400;
	border-radius: 3px;
	padding: 5px;
	font-size: 13px;
	line-height: 14px;
	color: #828282;
	margin: 0;
	text-align: center;
}

.infoicon {
	width: 20px !important;
	padding-right: 5px;
}

.portalignments {
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	align-items: flex-start;
}

.etddate {
	font-family: "Rubik";
	font-size: 10px;
	text-align: right;
	letter-spacing: 0.15em;
	color: #828282;
	padding-right: 5px;
}

.startval .MuiIconButton-root {
	padding: 0 !important;
}

.current {
	margin-bottom: 6px;
}

.vessel {
	background: rgba(225, 225, 224, 0.15);
	width: 100%;
	padding: 10px 15px;
	display: flex;
	gap: 20px;
}

.ship {
	border-right: 1.5px solid #d9d9d9;
	padding-right: 5px;
	width: 50%;
}

.ship>p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #828282;
	margin-bottom: 0;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100px;
}

.ship>h4 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 12px;
	color: #272727;
	text-align: left;
	word-break: normal;
}

.cutoff>p {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 14px;
	color: #828282;
	margin-bottom: 0;
	text-align: left;
}

.cutoff>h4 {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 12px;
	color: #272727;
	text-align: left;
	white-space: pre;
}

.cutoffdiv {
	display: flex;
	gap: 40px;
	width: 50%;
}

.chargeinclude {
	padding: 0px 15px;
	margin-top: 5px;
}

.chargeincludetxt {
	font-weight: 400;
	background: rgba(217, 217, 217, 0.31);
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
	color: #828282;
	margin: 0;
	text-align: center;
}

.detailcon.dashboard {
	width: 371.333px;
}

.fullybooked {
	background-image: url("/src/assets/Images/fullybooked.svg");
	background-repeat: no-repeat;
	width: 107px;
	height: 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.fullybookedtxt {
	font-family: "Rubik";
	font-weight: bold;
	font-size: 12px;
	color: #272727;
	margin-bottom: 0;
	padding-left: 11px;
}

.activeCard {
	border: 2px solid #f4da47 !important;
	box-shadow: none !important;
	transform: scale(1) !important;
}

.pricecon {
	display: flex;
	justify-content: space-between;
	gap: 18px;
}

.vesseltexts {
	text-transform: uppercase;
}

@media (max-width: 1000px) {
	.detailcon.dashboard {
		width: 350px !important;
		height: auto !important;
	}

	.etddate {
		padding-right: 2px;
	}

	.pricecon {
		gap: 10px;
	}
}

@media (max-width: 750px) {
	.detailcon.dashboard {
		flex: 1 !important;
	}
}

@media (max-width: 600px) {
	.detailcon.dashboard {
		width: 100% !important;
		flex: 0 !important;
	}

	.pricecon {
		gap: 20px !important;
	}
}

@media (max-width: 500px) {
	.detailcon.dashboard {
		width: 400px !important;
		flex: 0 !important;
	}
}

@media (max-width: 400px) {
	.detailcon.dashboard {
		width: 360px !important;
		flex: 0 !important;
	}

	.pricecon {
		gap: 5px !important;
	}

	.etddate {
		font-size: 10px !important;
		padding-right: 3px !important;
	}

	.detailcon {
		width: 340px !important;
		flex: 0 !important;
		height: auto !important;
	}

	.cutoffdiv {
		gap: 20px;
	}

	.containerdetail {
		padding: 0px 8px;
		gap: 1px;
	}
}

.ratesmentaion {
	font-style: italic;
	font-size: 13px;
	color: #828282;
	margin-bottom: 0;
	font-family: system-ui;
}

.portdiv {
	display: flex;
	align-items: baseline;
	gap: 5px;
}

.splitdiv>h1 {
	margin-bottom: 0;
}

.noellips {
	max-width: 100% !important;
	text-overflow: unset !important;
}

.etddatediv {
	display: block;
	text-align: left;
	padding-top: 9px;
}

.checkoutborder {
	border: 2px solid #f4da47 !important;
	border-bottom: none !important;
}

.checkout {
	border: none !important;
}

.cargoDetails {
	min-height: auto !important;
}