.veritxt{
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #272727;
    margin: 0;
}
.forms{
    text-align: center;
}
.logodiv{
    padding-top: 20px;
}
.verificationbody{
    position: relative;
    top: -40px;
}
.newpasswordtxt{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #858585;
}
.since{
    font-size: 16px;
    text-align: center;
    color: #858585;
    padding: 2px 0px;
}
.loginbtn {
    background: #F3CF00 !important;
    border-radius: 6px;
    padding: 10px 20px!important;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    border: none !important;
    margin-top: 10px;
    text-decoration: none;
}
.loginbtn:hover{
    color: #000;
}