.flex{
    display: flex;
    justify-content: space-between;
}
.fileviw{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    text-decoration: none;
    color: #858585;
}
.fileviw:hover{
    color: #858585;
}

.fileName{
    color: #2e76fa;
    font-weight: bold;
}

.fileName:hover{
    cursor: pointer;
}